@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 2% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  width: 100%;
}
textarea {
  font-size: 18px;
  width: 100%;
}

label {
  font-size: 18px;
  margin-right: 300px;
}

.form h2 {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(133, 27, 231);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: rgb(133, 27, 231);
}

.form .message {
  margin: 15px 0 0;
  color: #5c5a5a;
  font-size: 16px;
}
.form .message a {
  color: rgb(133, 27, 231);
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #413f3f;
  font-size: 16px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;
}
body {
  background: rgb(201, 181, 221);

  margin: 0 auto;
  /* background: -webkit-linear-gradient(
    right,
    rgb(216, 209, 223),
    rgb(120, 94, 144)
  );
  background: -moz-linear-gradient(
    right,
    rgb(216, 209, 223),
    rgb(120, 94, 144)
  );
  background: -o-linear-gradient(right, rgb(120, 94, 144), rgb(216, 209, 223));
  background: linear-gradient(to left, rgb(120, 94, 144), rgb(216, 209, 223)); */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav_div {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid blueviolet;
  background-color: rgb(146, 55, 231);
  font-size: 20px;
}
.links {
  padding: 17px;
  color: whitesmoke;
}
.header_div {
  position: relative;
}

.header_div h1 {
  text-align: center;
  margin-left: 100px;
  color: rgb(133, 27, 231);
}

.form select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
}

.tags input {
  margin-left: -94px;
}

img {
  height: 400px;
  width: 400px;
  margin-top: 30px;
}

.search {
  margin: -23px 10px 20px;
}

.search input {
  padding: 5px;
  width: 300px;
  margin: 5px;
  font-size: 18px;
}

.pagination2 {
  padding-left: 50%;
  margin-top: 0px;
  margin-bottom: 20px;
}

.genres {
  position: relative;
  z-index: 1;
  background: rgb(250, 249, 249);
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.genres button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(133, 27, 231);
  margin: 15px;
  width: 30%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.artist {
  position: relative;
  z-index: 1;
  background: rgb(250, 249, 249);
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
}

.artist label {
  display: flex;
  width: 100%;
  margin-left: 25px;
  font-size: 24px;
}

.artist p {
  display: flex;
  width: 95%;
  margin-left: 25px;
  height: 40px;
  background-color: #f3ebeb;
  padding-left: 10px;
  padding-top: 20px;
  font-size: 18px;
}

.artist td {
  display: flex;
  width: 95%;
  margin-left: 25px;
  height: 40px;
  background-color: #f3ebeb;
  padding-left: 10px;
  padding-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}

.artist button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(133, 27, 231);
  margin: 15px;
  width: 30%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.Nav_User {
  text-align: right;
  margin-left: 700px;
  color: whitesmoke;
}

.mainBlog {
  box-shadow: 1px 2px 10px 3px rgb(120 84 149);
  margin: 60px;
  padding: 5 9px 3 8px;
  width: 500px;
  border-radius: 10px;
  display: inline-block;
  height: max-content;
  text-align: center;
  font-size: 24px;
  background-color: white;
}

.profile {
  position: relative;
  z-index: 1;
  background: #ffffff;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.profile p {
  background: #f2f2f2;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: left;
}

.profile input {
  background: #f2f2f2;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  margin-right: 560px;
  border: none;
  font-size: 18px;
  outline: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile label {
  font-family: "Roboto", sans-serif;
  text-align: left;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 100%;
}

.profile button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(133, 27, 231);
  margin: 15px;
  width: 60%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.countCard {
  box-shadow: 1px 2px 10px 3px rgb(120 84 149);
  margin: 220px;
  padding: 5 9px 3 8px;
  width: 500px;
  border-radius: 10px;
  display: inline-block;
  height: max-content;
  text-align: center;
  font-size: 24px;
  background-color: white;
}

.main_div {
  position: relative;
}

.main_div h1 {
  text-align: center;
  color: rgb(133, 27, 231);
  margin-top: 50px;
  margin-bottom: 0px;
}

.mainCard {
  margin-top: -50px;
}

.CheckBox {
  margin-top: -19px;
}

.error {
  color: red;
}

.playListCard {
  box-shadow: 1px 2px 10px 3px rgb(120 84 149);
  margin: 10px;
  padding: 5 9px 3 8px;
  width: 500px;
  border-radius: 10px;
  display: inline-block;
  height: max-content;
  text-align: center;
  font-size: 24px;
  background-color: white;
}

.playListCard {
  color: blueviolet;
}

.wrraper {
  padding-top: 10px;
  display: inline-block;
  margin-left: 15px;
  padding: 20px;
}
.mainGenres {
  box-shadow: 1px 2px 10px 3px rgb(227, 209, 246);
  margin: 10px;
  padding: 5 9px 3 8px;
  width: 450px;
  border-radius: 10px;
  display: inline-block;
  height: max-content;
}
.midDiv {
  display: block;
  padding: 10px;
  margin-bottom: auto;
  text-align: justify;
}

.mainGenres button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(133, 27, 231);
  margin: 15px;
  width: 30%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
